### Pandas 기초

### 가상환경 설치

Virtualenv 모듈 설치

```
> !pip install virtualenv
```

In [1]:
!pip install virtualenv

Requirement already satisfied: virtualenv in c:\dev\langs\python311\lib\site-packages (20.17.1)
Requirement already satisfied: distlib<1,>=0.3.6 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (0.3.6)
Requirement already satisfied: filelock<4,>=3.4.1 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (3.9.0)
Requirement already satisfied: platformdirs<3,>=2.4 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (2.6.2)

#### 가상환경 설정
```
> virtualenv da_env
```
(터미널에서 입력)

- 주피터 노트북 커널을 변경 - da_env(Python 3.11.2) 로 변경
- ipykernel 설치 필수 (anaconda, VSCode에서 주피터 노트북 사용시 필수)

#### 가상환경 패키지 (pip) 확인

In [1]:
!pip list

Package           Version
----------------- -------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.4
debugpy           1.6.7
decorator         5.1.1
executing         1.2.0
ipykernel         6.25.1
ipython           8.14.0
jedi              0.19.0
jupyter_client    8.3.0
jupyter_core      5.3.1
matplotlib-inline 0.1.6
nest-asyncio      1.5.7
packaging         23.1
parso             0.8.3
pickleshare       0.7.5
pip               23.0
platformdirs      3.10.0
prompt-toolkit    3.0.39
psutil            5.9.5
pure-eval         0.2.2
Pygments          2.16.1
python-dateutil   2.8.2
pywin32           306
pyzmq             25.1.0
setuptools        67.1.0
six               1.16.0
stack-data        0.6.2
tornado           6.3.2
traitlets         5.9.0
wcwidth           0.2.6
wheel             0.38.4

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### 판다스 설치
```
> !pip install pandas
```

- Pandas : 2.0.3
- Numpy : 1.25.2

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
     - -------------------------------------- 0.3/10.6 MB 10.2 MB/s eta 0:00:02
     --- ------------------------------------ 1.0/10.6 MB 12.1 MB/s eta 0:00:01
     ------ --------------------------------- 1.8/10.6 MB 14.1 MB/s eta 0:00:01
     ----------- ---------------------------- 3.0/10.6 MB 17.1 MB/s eta 0:00:01
     ----------------- ---------------------- 4.5/10.6 MB 20.6 MB/s eta 0:00:01
     ------------------------- -------------- 6.6/10.6 MB 24.9 MB/s eta 0:00:01
     ----------------------------------- ---- 9.4/10.6 MB 29.9 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 34.4 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 29.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\source\iot_bigdata_study_2023\da_env\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     ---------------------------------------- 502.3/502.3 kB ? eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ---------------------------------------- 341.8/341.8 kB ? eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
     ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
     ------- ------------------------------- 3.1/15.5 MB 101.1 MB/s eta 0:00:01
     ------------------- -------------------- 7.6/15.5 MB 97.9 MB/s eta 0:00:01
     ------------------------------- ------ 12.7/15.5 MB 108.8 MB/s eta 0:00:01
     -------------------------------------  15.5/15.5 MB 108.8 MB/s eta 0:00:01
     --------------------------------------- 15.5/15.5 MB 72.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\source\iot_bigdata_study_2023\da_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip show pandas

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Source\IoT_Bigdata_study_2023\da_env\Lib\site-packages
Requires: numpy, numpy, python-dateutil, pytz, tzdata
Required-by:

In [4]:
!pip show numpy

Name: numpy
Version: 1.25.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: C:\Source\IoT_Bigdata_study_2023\da_env\Lib\site-packages
Requires:
Required-by: pandas

### 판다스 기초

#### 개요

액셀과 거의 동일한 테이블형태로 데이터를 핸들링할 수 있는 파이썬 모듈

데이터 분석을 위한 추상 자료구조 (DataFrame!!!! <--- 핵심) 를 제공하는 데이터 분석도구임


##### 기본 기능
- 엑셀 / CSV / Json 등 데이터파일에서 데이터 읽어오기 -> 파이썬 메모리상에 로드
- 데이터 처리 / 데이터 분석
- 다시 엑셀 / CSV / Json 등 데이터파일에 저장

##### Pandas 용어
- Series, DataFrame
- Index, Columns, Values, etc.

### 판다스 학습 시작!

#### 시리즈 (Series)

판다스에서 1차원 배열과 똑같은 자료형 (데이터 타입)

<img src="https://velog.velcdn.com/images%2Fgjtjsdn1%2Fpost%2F41aab35d-d5bc-4a3f-b0fa-1c8770bf2eb9%2Fimage.png" />


#### 판다스 모듈 import

```python
> import pandas as pd
```

In [5]:
import pandas as pd

#### 시리즈 생성

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995809335BFBCC922B" width="500">

In [8]:
grade = pd.Series(data=['임자연', 90, 100, 95, 100], index=['이름', '국어', '영어', '수학', '미술'], name='기말고사 성적')

grade

이름    임자연
국어     90
영어    100
수학     95
미술    100
Name: 기말고사 성적, dtype: object

In [9]:
grade.values

array(['임자연', 90, 100, 95, 100], dtype=object)

In [10]:
grade.index

Index(['이름', '국어', '영어', '수학', '미술'], dtype='object')

In [11]:
grade.name

'기말고사 성적'

#### 판다스 시리즈 타입으로 전환

- 리스트 -> pd.Series(data=[])
- 딕셔너리 { key' : 'value' } -> pd.Series(data={})

In [12]:
chedol_data = { '이름' : '임채돌', '국어' : 100, '영어' : 100, '수학' : 100, '미술' : 100 }
type(chedol_data)

dict

In [14]:
# 리스트보다 딕셔너리로 데이터를 사용하는 것이 판다스 시리즈를 생성할 때 편리함
grade2 = pd.Series(data=chedol_data)
grade2

이름    임채돌
국어    100
영어    100
수학    100
미술    100
dtype: object

In [15]:
type(grade2)

pandas.core.series.Series

# 중요!!!

None(== Null), NaN => "결측치"라 부르고 결측치가 있으면 데이터 분석이 부정확

In [21]:
# (빅)데이터 분석에서 가장 조심해야 할 것 // None(결측치)
grade3 = pd.Series(data=['유고', None, 10, 0, None], index=['이름', '국어', '영어', '수학', ''])
grade3

이름      유고
국어    None
영어      10
수학       0
      None
dtype: object

#### 재색인

결측치가 있거나 인덱스가 잘못되었을 때 다시 정립하는 작업

In [22]:
grade3.reindex(index=['이름', '국어', '영어', '수학'])

이름      유고
국어    None
영어      10
수학       0
dtype: object

In [23]:
# 원본 데이터가 바뀐 것은 아님
grade3

이름      유고
국어    None
영어      10
수학       0
      None
dtype: object

In [25]:
# 재할당
grade4 = grade3.reindex(index=['이름', '국어', '영어', '수학'])
grade4

이름      유고
국어    None
영어      10
수학       0
dtype: object

In [33]:
grade5 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'])
grade5

이름      유고
국어    None
영어      10
수학       0
미술     NaN
dtype: object

^None과 NaN은 같은 것

In [29]:
grade5.describe()

count      3
unique     3
top       유고
freq       1
dtype: object

#### 결측치 없애기
- reindex() 메서드 fill_vlaue 속성 => None, NaN 동시 처리 안 됨
- 만들어진 시리즈 fillna(0) => None, NaN 동시 처리 됨

#### inplace 속성!!!!
- 지금 내가 처리하는 기능으로 값을 완전 대체해줌 (commit과 동일)
- 모든 함수에 존재하지는 않음

In [35]:
# 결측치 없애기 1
grade6 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'], fill_value=0)
grade6

이름      유고
국어    None
영어      10
수학       0
미술       0
dtype: object

In [37]:
# 결측치 없애기 2
grade7 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'])
grade7.fillna(0)

이름    유고
국어     0
영어    10
수학     0
미술     0
dtype: object

In [38]:
grade7

이름      유고
국어    None
영어      10
수학       0
미술     NaN
dtype: object

In [40]:
grade7.fillna(0, inplace=True)
grade7

이름    유고
국어     0
영어    10
수학     0
미술     0
dtype: object

#### 이름변경

인덱스의 이름을 변경해주는 기능

In [43]:
# column명 변경 (inplace 속성 사용 안 하면 일시적으로만 변경되어 보임)
grade3.rename({'이름' : 'name', '국어' : 'Kor', '수학' : 'Math', '영어' : 'Eng', '' : 'Art'}, inplace=True)
grade3

name      유고
Kor     None
Eng       10
Math       0
Art     None
dtype: object

핸들링!!!
#### 판다스 시리즈 요소 제어

파이썬 리스트(배열) 요소 접근방법과 유사

In [44]:
grade[0]

'임자연'

In [45]:
grade['이름']

'임자연'

In [47]:
print(grade[2])
print(grade['영어'])

100
100

In [49]:
# loc (로케이션) 속성 ; 현재 지정된 인덱스 명으로 찾음 / 숫자는 안 됨
grade.loc['영어']

100

#### 시리즈에서 인덱스 변경

변경된 데이터만 임시 출력

In [51]:
grade[['이름', '미술']]

이름    임자연
미술    100
Name: 기말고사 성적, dtype: object

In [53]:
grade.reindex(index=['이름', '미술'])

이름    임자연
미술    100
Name: 기말고사 성적, dtype: object

In [54]:
grade

이름    임자연
국어     90
영어    100
수학     95
미술    100
Name: 기말고사 성적, dtype: object

In [55]:
grade.isnull()

이름    False
국어    False
영어    False
수학    False
미술    False
Name: 기말고사 성적, dtype: bool

In [56]:
grade3.isnull()

name    False
Kor      True
Eng     False
Math    False
Art      True
dtype: bool

In [57]:
grade3.notnull()

name     True
Kor     False
Eng      True
Math     True
Art     False
dtype: bool

In [58]:
grade3['Kor'] = 40
grade3

name      유고
Kor       40
Eng       10
Math       0
Art     None
dtype: object

In [60]:
grade8 = grade3

In [62]:
del grade8['Math']

In [63]:
grade8

name      유고
Kor       40
Eng       10
Art     None
dtype: object

In [64]:
grade8.drop('Eng')

name      유고
Kor       40
Art     None
dtype: object

In [66]:
grade8

name      유고
Kor       40
Eng       10
Art     None
dtype: object

In [70]:
# inplace True로 하면 완전히 대체되어 지워짐
grade8.drop('Art', inplace=True)

In [71]:
grade8

name    유고
Kor     40
dtype: object