### 판다스, 넘파이 응용

판다스 기본형 DataFrame, Series의 각 데이터 타입 Numpy 타입을 사용

In [22]:
import pandas as pd
import numpy as np

In [23]:
# 시리즈 생성
s1 = pd.Series(data=np.random.randn(10))
s1

0    1.082963
1   -1.232899
2   -0.262479
3   -0.439726
4   -2.003497
5    0.540173
6    0.066913
7   -1.413351
8   -0.285707
9   -1.067068
dtype: float64

In [24]:
# 음수 제거 / 10을 곱해서 10단위 수로 만들고 / 반올림해서 소수점 
s2 = s1.abs().map(lambda x: x* 10).round()    # abs => 절대값
s2

0    11.0
1    12.0
2     3.0
3     4.0
4    20.0
5     5.0
6     1.0
7    14.0
8     3.0
9    11.0
dtype: float64

In [25]:
np.mean(s2)

8.4

In [26]:
s2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 212.0 bytes

In [27]:
# 판다스에서 데이터으 가장 기본 통계 함수
s2.describe()
# std => 표준편차

count    10.000000
mean      8.400000
std       6.113737
min       1.000000
25%       3.250000
50%       8.000000
75%      11.750000
max      20.000000
dtype: float64

In [28]:
s3 = pd.Series(data=[1, 3, 5, np.nan] * 5)
s3

0     1.0
1     3.0
2     5.0
3     NaN
4     1.0
5     3.0
6     5.0
7     NaN
8     1.0
9     3.0
10    5.0
11    NaN
12    1.0
13    3.0
14    5.0
15    NaN
16    1.0
17    3.0
18    5.0
19    NaN
dtype: float64

In [29]:
pd.Series(data=[1, 3, 5, None] * 5)

0     1.0
1     3.0
2     5.0
3     NaN
4     1.0
5     3.0
6     5.0
7     NaN
8     1.0
9     3.0
10    5.0
11    NaN
12    1.0
13    3.0
14    5.0
15    NaN
16    1.0
17    3.0
18    5.0
19    NaN
dtype: float64

In [30]:
s3.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: None
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 292.0 bytes

In [31]:
# 결측치 때문에 20개 데이터에서 통계를 구할 때 15개 밖에 안 나옴
s3.describe()

count    15.000000
mean      3.000000
std       1.690309
min       1.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       5.000000
dtype: float64

In [32]:
# 값별 빈도(count) 개수 // option(속성) dropna=False // normalize=True
s3.value_counts(dropna=False, normalize=True)

1.0    0.25
3.0    0.25
5.0    0.25
NaN    0.25
Name: proportion, dtype: float64

In [33]:
# 결측치 확인 함수
s3.isnull().sum()

5

### 데이터 프레임과 넘파이

In [34]:
# 데이터프레임 생성 -> 이렇게 만들일은 거의 없음
# C# Bogus로 샘플데이터 생성과 동일작업
size = 20
df1 = pd.DataFrame(data={
    'class' : [['A', 'B', 'C', 'D', 'F'][np.random.randint(0, 5)] for _ in range(0, size)],
    'year' : [np.random.randint(2010, 2024) for _ in range(0, size)],
    'month' : [np.random.randint(1, 13) for _ in range(0, size)],
    'val1' : [np.random.randint(1, 11) for _ in range(0, size)],
    'val2' : [np.random.randint(100, 1000) for _ in range(0, size)],
    'val3' : [np.random.randint(10000, 20000) for _ in range(0, size)],
})
df1

   class  year  month  val1  val2   val3
0      B  2020      8     9   594  12435
1      D  2019      7     1   695  16471
2      B  2018      1     9   826  11548
3      B  2023      9     6   802  17700
4      F  2020     10     4   716  12688
5      B  2022      6     4   863  17346
6      B  2014      1     2   809  19097
7      A  2014     11     4   951  16942
8      B  2010      2     5   201  16341
9      B  2019      4     2   484  13901
10     D  2011      5     9   361  11016
11     F  2019      7     3   793  12492
12     D  2023     11     6   926  18479
13     C  2017     10     4   993  12989
14     F  2020      5     5   514  17088
15     B  2011     12     2   879  19885
16     D  2015      3     6   529  17537
17     C  2021      5     4   746  10039
18     A  2010      3     4   634  13752
19     D  2019     10     1   216  10039

In [35]:
# shape 출력값 2차원 배열과 1차원 배열 의미가 상이
df1.shape

(20, 6)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   20 non-null     object
 1   year    20 non-null     int64
 2   month   20 non-null     int64
 3   val1    20 non-null     int64
 4   val2    20 non-null     int64
 5   val3    20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [37]:
df1.describe()

              year      month      val1        val2          val3
count    20.000000  20.000000  20.00000   20.000000     20.000000
mean   2017.250000   6.500000   4.50000  676.600000  14889.250000
std       4.278157   3.516877   2.46021  231.818305   3127.684024
min    2010.000000   1.000000   1.00000  201.000000  10039.000000
25%    2014.000000   3.750000   2.75000  525.250000  12477.750000
50%    2019.000000   6.500000   4.00000  731.000000  15121.000000
75%    2020.000000  10.000000   6.00000  835.250000  17393.750000
max    2023.000000  12.000000   9.00000  993.000000  19885.000000